.projects {
  padding: 0 8rem;
  min-height: 80vh;
  width: 100%;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
  
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 6rem;
}

@media screen and (min-width: 770px) and (max-width: 960px) {
  .projects {
    padding: 0 2rem;
  }
}



@media (max-width: 770px) {
  .projects {
    padding: 0 2rem;
  }
  .projects > h2 {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1rem;
  }
}

