nav {
    height: 60px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 8rem;
    flex-wrap: wrap;
  }

  .light nav{
    /* background-color: red; */
  }
  
  nav img{
    height: 50px;
  }

  header{
    position:sticky;
    top: 0px;
  }
  
  nav > ul {
    display: flex;
    gap: 3rem;
  }
  
  nav button {
    background: none;
    border: none;
    color: inherit;
    transform: scale(1.6);
  }
  
  nav a {
    transition: all 0.3s ease-in-out;
  }
  
  nav a:hover {
    color: var(--highlight);
  }

  nav li:hover{
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
  }

  nav h2{
    transition: all 0.3s ease-in-out;
    font-weight: 400;
  }
  nav #short {
    display: none;
  }

  @media (max-width: 960px) {
    nav {
      padding: 0 2rem;
    }

    nav #long {
      display: none;
    }

    nav #short {
      display: flex;
    }
  }