nav {
    height: 60px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 8rem;
    flex-wrap: wrap;
    background-color: #111111;
    transition: all 1.4s ease-in-out;
    /* margin-bottom: 0.5rem; */
  }

  .light nav{
    background-color: rgb(227, 223, 201); 
  }
  
  nav img{
    height: 50px;
  }

  header{
    position:sticky;
    top: 0px;
  }
  
  nav > ul {
    display: flex;
    gap: 3rem;
  }
  
  nav button {
    background: none;
    border: none;
    color: inherit;
    transform: scale(1.6);
  }
  
  nav a {
    transition: all 0.1s ease-in-out;
  }
  
  nav a:hover {
    color: var(--highlight);
  }

  .light nav a:hover {
    color: #111111;
  }

  nav li:hover{
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
  }

  nav h2{
    transition: all 0.1s ease-in-out;
    font-weight: 100;
  }
  nav #short {
    display: none;
  }

  .light  nav img{
    filter: invert(100%);
    filter:brightness(-70%);
  }

  @media (max-width: 960px) {
    nav {
      padding: 0 2rem;
    }

    nav #long {
      display: none;
    }

  }