footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8rem;
  
    gap: 4rem;
    flex-wrap: wrap;
    margin: 2rem 0;
  }
  
  @media screen and (width <= 455px) {
    footer {
      justify-content: center;
    }
    div{
      justify-content: center;
    }
  }

  @media (max-width: 960px) {
    footer {
      padding: 0 2rem;
      gap: 2rem;
    }
  }
  
  footer > div {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

 
