.home {
    padding: 0 8rem;
    height: 80vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    position: absolute;
  }
  
  .home > h1 {
    font-size: 6.5rem;
    background-image: url("/public/Background/coding-background-9izlympnd0ovmpli.jpg");
    background-size: contain;  
    background-position: -80px -100px; 
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke: 0.5px white;
  }
  
  .home > a {
    font-size: 1.5rem;
    width: 150px;
    border-radius: 20px;
  }

  .light .home > a:hover {
    background-color: var(--highlight);
  }

  .home > a:hover{
    background-color: var(--highlight);
    width: 150px;
    transition: 1.5s;
    padding-left: 20px;
  }

 /*  .light .home{
    background-image: url(/public/Background/white.jpg);
    background-size: cover;
  } */

   .background{
    background-image: url("/public/Background/952-9523355_binary-code-to-text-programming-code-transparent-background.png");
    width: 400px;
    filter: invert(1);
    background-size:cover;
    position: absolute;
    right: 0;
    display: flex;
    height: 80vh;
    margin-top: 5px;
    transition: ease-in-out 2s;
  } 

  .light .background{
    filter: invert(0);
    transition: ease-in-out 3s;
  }

  @media (max-width: 960px) {
    .home {
      padding: 0 2rem;
      width: 100%;
    }

    .home > h1{
      font-size: 6rem;
      text-align: center;
      background-position: -20px -20px;
    }

    .home{
      gap: 2rem;
    }

    .background{
      display: none
    }
  }
  


  