.home {
    padding: 0 8rem;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
  }
  
  @media (max-width: 960px) {
    .home {
      padding: 0 2rem;
    }
  }
  
  .home > h1 {
    font-size: 6.5rem;
    background-image: url("/public/Background/coding-background-9izlympnd0ovmpli.jpg");
    background-size: contain;  
    background-position: -80px -100px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke: 0.5px white;
  }
  
  .home > a {
    font-size: 1.5rem;
    width: 150px;
    border-radius: 20px;
  }

  .home > a:hover{
    background-color: var(--highlight);
    width: 150px;
    transition: 1.5s;
    padding-left: 20px;
  }